<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Login & Register</title>
</head>
<body>
    <nav id="navigation">

        <div>
            <h1 id="logo"><a href="/routes/">PlagChecker</a></h1>
        </div>
   
        
        <div id="links">
   
           <ul>
               <li> WELCOME <%=username %> </li>
               <li> <a href="/users/login">SIGN IN </a></li>
            </ul>
            </div>
       
            <button id="signUpbutton"><a href="/users/login">SIGN UP</a></button>
   
       </nav>
 
    <!----login and registration forms-->
    <div class="tabContainer">
        <div class="btnContainer">
            <button onclick="showPanel(0, '#0A2A5B')"> Login</button>
            <button onclick="showPanel(1, '#0A2A5B')">Create Account</button>
        </div>

    <div class="tabPanel">
        <h1>Login Form</h1>
        <form id="loginForm" action="/users/login" method="POST">
            
            <input type="email" name="email" id="" placeholder="Email">
            <input type="text" name="password" id="" placeholder="Password">
           <a href=""> <input type="submit" name="submit" value="Log In"> </a>
        </form>
        <div class="imageHolder">
            <img src="/images/search.png" class="searchImages">
        </div>
    </div>

    <div class="tabPanel">
        <h1>Registration Form</h1> 
        <form id="registrationForm" action="/users/register" method="POST">
         <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="text" name="password" id="" placeholder="Password">
        <input type="text" name="password" id="" placeholder="Confirm Password">
        <input type="submit" name="submit" value="Register">
    </form>
    <div class="imageHolder">
        <img src="/images/search.png" class="searchImages">
    </div>
</div>
</div>

<footer>
       
    <div>
        <h1 id="logo">PlagChecker</h1>
          </div>
     
      
          
          <div id="links">
     
          <ul>
             <li> <a href="">NIGHT MODE </a> </li>
             <li> <a href="">SIGN IN </a></li>
          
          </ul>
          
          </div>
          <button id="footerButton">SIGN UP</button>
   
    
  </footer>
</body>
<script src="/js/signup.js"></script>

</html>